test

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars
*.tfvars
crash.log

# Pulumi
pulumi/venv/
Pulumi.*.yaml

# Credentials
*.pem
*.key
sa-key.json

# Ansible
*.retry
.vault_pass
ansible/inventory/*.pyc
__pycache__/

ansible/.venv/