auth_enabled: false

server:
  http_listen_port: {{ monitoring_loki_internal_port }}
  grpc_listen_port: 9096

common:
  instance_addr: 127.0.0.1
  path_prefix: {{ monitoring_loki_path_prefix }}
  storage:
    filesystem:
      chunks_directory: {{ monitoring_loki_path_prefix }}/chunks
      rules_directory: {{ monitoring_loki_path_prefix }}/rules
  replication_factor: 1
  ring:
    kvstore:
      store: inmemory

query_range:
  results_cache:
    cache:
      embedded_cache:
        enabled: true
        max_size_mb: 100

schema_config:
  configs:
    - from: {{ monitoring_loki_schema_from }}
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h

limits_config:
  retention_period: {{ monitoring_loki_retention }}
