global:
  scrape_interval: {{ monitoring_prometheus_scrape_interval }}
  evaluation_interval: 15s

storage:
  tsdb:
    retention_time: {{ monitoring_prometheus_retention_days }}d
    retention_size: {{ monitoring_prometheus_retention_size }}

scrape_configs:
{% for target in monitoring_prometheus_targets %}
  - job_name: '{{ target.job }}'
    static_configs:
      - targets: {{ target.targets }}
    {% if target.path is defined %}
    metrics_path: '{{ target.path }}'
    {% endif %}
{% endfor %}